<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Links</title>
</head>
<style>
  li {
    font-size: 4vh;
  }
</style>

<body>
  <ul>
    <li><a href="/analysis">Analysis</a></li>
    <li><a href="/auth//login">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/grades">Grades</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/form">Form</a></li>
    <li><a href="/update">Update</a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/auth//logout">Logout</a></li>
    <li><a href="/user-not-found">User Not Found</a></li>
    <li><a href="/admin">Admin Dashboard</a></li>
    <li><a href="/admin/gform">Admin Google Form</a></li>
    <li><a href="/admin/update">Admin Update</a></li>
    <li><a href="/admin/email">Admin E-mail</a></li>
    <li><a href="/admin/email-send">Admin E-mail Send</a></li>
    <li><a href="/auth-admin/login">Admin Login</a></li>
    <li><a href="/auth-admin/register">Admin Register</a></li>
    <li><a href="/auth-admin/logout">Admin Logout</a></li>
  </ul>
</body>

</html>